/*
Error: Invalid CSS after "&_1bg/": expected identifier, was ""
        on line 214 of d:/Users/Alex/Desktop/UBER_course/src/sass/_general.sass
        from line 8 of d:\Users\Alex\Desktop\UBER_course\src\sass\style.sass

Backtrace:
d:/Users/Alex/Desktop/UBER_course/src/sass/_general.sass:214
d:\Users\Alex\Desktop\UBER_course\src\sass\style.sass:8
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1188:in `expr!'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/static_parser.rb:144:in `reference_combinator'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/static_parser.rb:138:in `combinator'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/static_parser.rb:118:in `selector'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1186:in `expr!'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/scss/static_parser.rb:20:in `parse_selector'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `map'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
E:/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
E:/coala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
E:/coala/bin/sass:22:in `load'
E:/coala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"&_1bg/\": expected identifier, was \"\"\A         on line 214 of d:/Users/Alex/Desktop/UBER_course/src/sass/_general.sass\A         from line 8 of d:\Users\Alex\Desktop\UBER_course\src\sass\style.sass"; }
